.qrCode__buttons--color {
  @include place-center;
  width: 3rem;
  height: 1.25rem;
  cursor: pointer;
  color: $colorLight;
  background-color: $colorBtn;
  font-size: 0.75rem;

  border-radius: 10px;
  border: none;

  box-shadow: 0 3px 0 0 $colorBtnBottom;

  &:hover {
    background-color: $colorBtnHover;
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 0 $colorBtnBottom;
  }

  &.active {
    transform: translateY(3px);
    box-shadow: 0 0 0 0 black;
    background-color: hsl(245, 45%, 60%);
  }
}
