.qrCode {
  display: flex;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  gap: $gap;

  transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out,
    max-height 250ms ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
  }

  &__image {
    visibility: hidden;
    opacity: 0;
    width: $qrWidth;
    border: $border;
    border-radius: $borderRadius;

    transition: visibility 280ms ease-in-out, opacity 280ms ease-in-out;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__buttons {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    transition: visibility 280ms ease-in-out, opacity 280ms ease-in-out;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
