$colorDark: hsl(0, 0%, 10%);
$colorLight: hsl(0, 0%, 100%);
$colorGrey: hsl(0, 0%, 40%);
$colorShadow: hsla(0, 0%, 0%, 0.15);
$colorBG: hsl(115, 70%, 65%);
$colorBtn: hsl(245, 70%, 65%);
$colorBtnHover: hsl(245, 70%, 55%);
$colorBtnBottom: hsl(245, 70%, 50%);

$fontSizeBtn: 1rem;
$fontSizeTitle: 1.5rem;

$borderRadius: 10px;
$qrWidth: 13.75rem;
$qrPadding: 0.75rem;

$border: 1px solid $colorGrey;

$gap: 0.75rem;
