$colorDark: hsl(0, 0%, 35%);
$colorLight: hsl(0, 0%, 100%);
$colorGrey: hsl(0, 0%, 50%);
$colorShadow: hsla(0, 0%, 0%, 0.15);
$colorBG: hsl(115, 45%, 65%);

$colorBtn: hsl(245, 45%, 65%);
$colorBtnHover: hsl(245, 45%, 60%);
$colorBtnBottom: hsl(245, 45%, 55%);

$colorBtnDownload: hsl(280, 45%, 65%);
$colorBtnDownloadHover: hsl(280, 45%, 60%);
$colorBtnDownloadBottom: hsl(280, 45%, 55%);

$fontSizeBtn: 1rem;
$fontSizeTitle: 1.5rem;

$borderRadius: 10px;
$qrWidth: 13.75rem;
$qrPadding: 0.75rem;

$border: 1px solid $colorGrey;

$gap: 0.75rem;
