@import "./normalize";
@import "./variables";
@import "./mixins";
@import "../components/Input/style";
@import "../components/GoButton/style";
@import "../components/QrCode/style";
@import "../components/ResizeButton/style";
@import "../components/DownloadButton/style";

html {
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABtJREFUGFdjnP2g/3+qQiEjAxTAGRgCMJUYKgBdRQgF7VcyawAAAABJRU5ErkJggg==)
    repeat;
  background-color: $colorBG;
}

.app {
  @include flex-col;
  justify-content: center;
  align-items: center;
  background-color: $colorLight;
  padding: $qrPadding;
  gap: 0;
  border-radius: $borderRadius;
  box-shadow: 0 2px 0 0 $colorShadow;

  &--visible {
    gap: $gap;
  }

  &__title {
    color: $colorDark;
    font-size: $fontSizeTitle;
    margin: 0;
  }
}
